<h1>New Post</h1>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>  
    <ul>  
    <% @post.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>

  <%= label :title, "Title:" %>
  <%= f.text_field :title %>

  <%= label :body, "Body:" %>
  <%= f.text_area :body %>

  <%= label :image_url, "Picture URL:" %>
  <%= f.text_field :image_url %>
  
  <%= f.submit %>
<% end %>
